.container {
  max-width: 1550px;
  padding: 10px;
  margin: 0 auto;

  @media #{$media-sm-up}{
    padding: 20px;
  }

  @media #{$media-lg}{
    max-width: 1150px;
  }

  @media #{$media-lg-xl}{
    max-width: 1550px;
  }
}
