*{
  box-sizing: border-box;
}

body {
  background-color: $stratos;
  @include background-2x( './../../assets/images/kratki', 'png', 100%, 100%, center bottom, no-repeat );

  @media #{$media-md-up}{
    overflow-x: hidden;
  }
}

ul{
  padding: 0;
  list-style: none;
}
