/* Helpers
-------------------------------------------------------------- */
/* Fonts
-------------------------------------------------------------- */
@font-face {
  font-family: 'BebasNeue';
  src: url("./../../assets/fonts/BebasNeue-Regular.otf"); }

/* Colors
-------------------------------------------------------------- */
/* Typography
-------------------------------------------------------------- */
/* Borders
-------------------------------------------------------------- */
/* Animations
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Media queries
-------------------------------------------------------------- */
/* Gradient
-------------------------------------------------------------- */
/* Retina
-------------------------------------------------------------- */
/* Fade in
-------------------------------------------------------------- */
@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeFromTopCenter {
  0% {
    opacity: 0;
    transform: translateY(-50%, -20px); }
  100% {
    opacity: 1;
    transform: translate(-50%, 0); } }

@keyframes smoothFadeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  60% {
    opacity: 0.7; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeFromLeftCenter {
  0% {
    opacity: 0;
    transform: translate(-10px, -50%); }
  100% {
    opacity: 1;
    transform: translate(0, -50%); } }

@keyframes fadeInWidthAnimation {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 100%; } }

/* Fade out
-------------------------------------------------------------- */
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOutToTop {
  0% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    transform: translate(-50%, -150%);
    opacity: 0; } }

@keyframes smoothfadeOutToTop {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(-10px); } }

@keyframes fadeOutToRight {
  0% {
    opacity: 1; }
  80% {
    opacity: 0.4;
    transform: translateX(100%); }
  100% {
    opacity: 0;
    transform: translateX(120%); } }

@keyframes fadeOutWidthTransform {
  0% {
    opacity: 1; }
  60% {
    opacity: 0.5;
    width: 30%; }
  100% {
    opacity: 0;
    width: 0; } }

@keyframes fadeOutToLeft {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0;
    right: 100%; } }

@keyframes fadeOutToLeftWidthTransform {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateX(-100%); } }

/* Other animations
-------------------------------------------------------------- */
@keyframes moveDown {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(20px); } }

@keyframes widthAnimation {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes widthCloseAnimation {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

@keyframes pulse {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 1;
    transform: translateY(-15px); } }

/* Fire animation
-------------------------------------------------------------- */
@keyframes fadeSmallFire {
  0% {
    height: 0;
    width: 0;
    opacity: 0; }
  100% {
    height: auto;
    width: 15px;
    opacity: 1; } }

@keyframes fadeMediumFire {
  0% {
    height: 0;
    width: 0;
    opacity: 0; }
  100% {
    height: auto;
    width: 22px;
    opacity: 1; } }

@keyframes fadeBigFire {
  0% {
    height: 0;
    width: 0;
    opacity: 0; }
  100% {
    height: auto;
    width: 30px;
    opacity: 1; } }

/* Base
-------------------------------------------------------------- */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

body {
  background-color: black; }
  @media only screen and (min-width: 992px) {
    body {
      overflow-x: hidden; } }

ul {
  padding: 0;
  list-style: none; }

/* Body, html
-------------------------------------------------------------- */
html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 26px;
  line-height: 2.6rem;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #fff; }
  @media only screen and (min-width: 1800px) {
    body {
      font-size: 18px;
      font-size: 1.8rem; } }

/* Headers
-------------------------------------------------------------- */
h1 {
  margin: 0;
  font-size: 7rem;
  line-height: 1;
  font-family: "BebasNeue", "Helvetica", "Arial", sans-serif;
  letter-spacing: 1.5px; }
  @media only screen and (min-width: 1200px) {
    h1 {
      font-size: 8rem; } }
  @media only screen and (min-width: 1800px) {
    h1 {
      font-size: 9.2rem; } }

/* Text, Links
-------------------------------------------------------------- */
a {
  text-decoration: none;
  color: #fff; }

/* Layout
-------------------------------------------------------------- */
.container {
  max-width: 1550px;
  padding: 20px;
  margin: 0 auto; }
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1150px; } }
  @media only screen and (min-width: 1800px) {
    .container {
      max-width: 1550px; } }

/* Components
-------------------------------------------------------------- */
/* Button
-------------------------------------------------------------- */
.button {
  padding: 15px 50px;
  background: none;
  color: #fff;
  border: 1px solid;
  font-size: 18px;
  font-size: 1.8rem;
  text-align: left;
  cursor: pointer; }
