* {
  box-sizing: border-box;
}

:root {
  --btn-color: $white;
  --car-color: $white;
  --bckg-height: 300px;
  --shadow-opacity: .2;
  --car-shadow-height: 300px;
}

body {
  background-color: $black;
  overflow-x: hidden;
}

ul {
  padding: 0;
  list-style: none;
}
