.container{
  display: flex;
  padding: 10px;
  width: 90%;
  min-width: 850px;
  min-height: 100vh;
  margin: 0 auto;

  @media #{$media-lg}{
    width: 1220px;
  }

  @media #{$media-lg-xl}{
    width: 1450px;
  }
}
