/* Fonts
-------------------------------------------------------------- */
@font-face {
  font-family: 'circular-black';
  src: url('./../../assets/fonts/circular-black.otf');
}
@font-face {
  font-family: 'circular-bold';
  src: url('./../../assets/fonts/circular-bold.otf');
}
@font-face {
  font-family: 'circular-book';
  src: url('./../../assets/fonts/circular-book.otf');
}
@font-face {
  font-family: 'circular-medium';
  src: url('./../../assets/fonts/circular-medium.otf');
}
