/* Colors
-------------------------------------------------------------- */
/* Typography
-------------------------------------------------------------- */
/* Borders
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Media queries
-------------------------------------------------------------- */
/* Button
-------------------------------------------------------------- */
.button {
  --color: red;
  position: relative;
  height: 55px;
  width: 180px;
  background: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  border: none;
  cursor: pointer; }
  @media only screen and (min-width: 992px) {
    .button {
      font-size: 1.8rem;
      width: 210px; } }
  .button:focus {
    outline: none; }
  .button:hover:before {
    height: 100%;
    opacity: 1; }
  .button:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background-color: var(--color);
    transition: all 0.3s;
    z-index: -1; }
  .button__border {
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    width: 180px;
    border: 1px solid var(--color);
    transition: all 0.6s ease-in-out; }
    .button__border:after {
      position: absolute;
      content: '';
      left: 50%;
      top: 50%;
      width: 150%;
      height: 220%;
      opacity: 0.3;
      transform: translate(-50%, -50%);
      background: radial-gradient(ellipse at center, var(--color) 1%, transparent 80%);
      z-index: -1; }
    @media only screen and (min-width: 992px) {
      .button__border {
        width: 210px; } }
    .button__border:after {
      transition: opacity 0.5s; }
    .button__border--enter {
      border: 1px solid transparent; }
      .button__border--enter:after {
        opacity: 0.2; }
    .button__border--exit {
      border: 1px solid transparent; }
      .button__border--exit:after {
        opacity: 0.2; }
