/* Colors
-------------------------------------------------------------- */
/* Typography
-------------------------------------------------------------- */
/* Borders
-------------------------------------------------------------- */
/* Animations
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Media queries
-------------------------------------------------------------- */
/* Slider Navigation
-------------------------------------------------------------- */
.tesla-slider-navigation {
  /* Slider Navigation List
  -------------------------------------------------------------- */
  /* Slider Navigation List item
  -------------------------------------------------------------- */ }
  @media only screen and (min-width: 1200px) {
    .tesla-slider-navigation {
      order: 2;
      width: 150px; } }
  .tesla-slider-navigation__list {
    display: flex;
    margin: 5px;
    justify-content: space-around;
    text-align: center; }
    @media only screen and (min-width: 1200px) {
      .tesla-slider-navigation__list {
        display: block;
        order: 2;
        text-align: right; } }
  .tesla-slider-navigation__item {
    display: inline-block;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
    font-size: 1.4rem; }
    @media only screen and (min-width: 1200px) {
      .tesla-slider-navigation__item {
        display: block;
        margin-top: 90px; } }
    .tesla-slider-navigation__item:first-of-type {
      margin-top: 0; }
  .tesla-slider-navigation__link--active {
    font-size: 18px;
    font-size: 1.8rem; }
