/* Colors
-------------------------------------------------------------- */
/* Typography
-------------------------------------------------------------- */
/* Borders
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Media queries
-------------------------------------------------------------- */
/* Slider
-------------------------------------------------------------- */
.tesla-slider {
  padding-top: 20px;
  /* Mouse scroll
  -------------------------------------------------------------- */ }
  @media only screen and (min-width: 992px) {
    .tesla-slider {
      padding-top: 40px; } }
  @media only screen and (min-width: 1200px) {
    .tesla-slider {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 0; } }
  @media only screen and (min-width: 1800px) {
    .tesla-slider {
      padding-top: 135px; } }
  .tesla-slider__scroll {
    order: 3;
    width: 100%; }
    .tesla-slider__scroll img {
      display: block;
      margin: 0 auto; }
