@import './../helpers/variables';

/* Slide Item
-------------------------------------------------------------- */
.tesla-slide {
  position: relative;
  margin-top: 50px;
  width: 100%;
  order: 1;

  @media #{$media-sm-up} {
    margin-top: 70px;
  }

  @media #{$media-lg} {
    margin-top: 0;
    width: calc(100% - 150px);
  }

  /* Slide Item Aside
  -------------------------------------------------------------- */
  &__aside {
    text-align: center;

    @media #{$media-sm-up} {
      text-align: left;
    }
  }

  /* Slide Item Whole name
  -------------------------------------------------------------- */
  &__wholename {
    height: 75px;

    > span {
      height: 75px;
      vertical-align: top;
    }
  }

  /* Slide Item Name
  -------------------------------------------------------------- */
  &__name {
    position: relative;
    display: inline-block;
    width: 40%;
    overflow: hidden;

    &-part {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      display: block;
      margin-left: 15px;
      transition: top 0.5s ease-out 0.1s, opacity 0.4s linear;

      &--enter {
        left: 0;
        top: 100%;
        opacity: 0;

        .animation-back & {
          top: -100%;
        }
      }

      &--exit {
        left: 0;
        top: -100%;
        opacity: 0;
        transition: top 0.5s ease-out 0.4s, opacity 0.4s linear 0.4s;

        .animation-back & {
          top: 100%;
        }
      }
    }
  }

  /* Slide Item Description
  -------------------------------------------------------------- */
  &__desc {
    position: relative;
    margin: 10px auto 0;
    max-width: 420px;
    height: 5rem;
    overflow: hidden;

    @media #{$media-sm-up} {
      margin: 40px 0 0;
    }

    &-text {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      bottom: 0;
      margin: 0;
      line-height: 2.5rem;
      opacity: 1;
      transition: top 0.4s ease-out 0.2s, bottom 0.4s ease-out 0.2s, opacity 0.4s ease-out 0.3s, line-height 0.3s ease-out 0.5s;

      &--enter {
        left: 0;
        top: 100%;
        bottom: 0;
        opacity: 0;
        line-height: 4rem;

        .animation-back & {
          top: -100%;
          bottom: auto;
          line-height: 3rem;
        }
      }

      &--exit {
        transition: bottom 0.5s ease-out 0.3s, top 0.5s ease-out 0.3s, opacity 0.4s ease-out 0.3s, line-height 0.3s ease-out 0.2s;
        left: 0;
        top: auto;
        bottom: 100%;
        opacity: 0;
        line-height: 4rem;

        .animation-back & {
          top: 100%;
          bottom: auto;
        }
      }
    }
  }

  /* Slide Item Img
  -------------------------------------------------------------- */
  &__img {
    $parent: &;
    position: relative;
    overflow: hidden;
    transform: translateX(0) scale(1);
    transition: opacity 0.2s ease-in-out 0.1s, transform 0.6s ease-in-out 0.1s;

    @media #{$media-xs} {
      width: 100%;
      transform: none;
      overflow: initial;
    }

    @media #{$media-sm-up} {
      position: absolute;
      margin-top: 0;
      top: -5%;
      right: -50%;
      z-index: -1;
    }

    @media #{$media-md-up} {
      top: -35%;
      right: -25%;
    }

    @media #{$media-lg-xl} {
      top: -55%;
      right: -17%;
    }

    &:before {
      position: absolute;
      content: '';
      width: calc(var(--car-shadow-height));
      height: calc(var(--car-shadow-height) * 1.5);
      top: 45%;
      left: 60%;
      transform: translate(-50%, -50%);
      opacity: 0.35;
      background: radial-gradient(ellipse at center, var(--bckg-color) 10%, transparent 75%);
      transition: opacity 0.3s ease-in 0.3s;
      z-index: 9;

      @media #{$media-md-up} {
        width: calc(var(--car-shadow-height) * 2);
        height: calc(var(--car-shadow-height) * 1.8);
        opacity: 0.4;
      }
    }

    &-floor {
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.5s ease-in-out 0.4s;
    }

    &-car {
      transition: opacity 0.4s ease-in-out 0.1s;
    }

    &--enter {
      opacity: 0;
      transform: translateX(-5%) scale(1.1);

      #{$parent}-floor {
        opacity: 0;
      }

      #{$parent}-car {
        opacity: 0;
      }

      &:before {
        opacity: 0;
      }

      .animation-back & {
        opacity: 0;
        transform: scale(0.8);
      }
    }

    &--exit {
      transition: opacity 0.3s ease-in-out 0.5s, transform 0.6s ease-in-out 0.3s;
      opacity: 0;
      transform: scale(0.9);

      #{$parent}-floor {
        transition: all 0.3s ease-in-out 0.2s;
        opacity: 0;
      }

      &:before {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
      }

      .animation-back & {
        transition: opacity 0.3s ease-in-out 0.6s, transform 0.7s ease-in-out 0.1s;
        transform: translateX(-5%) scale(1.1);

        #{$parent}-floor {
          transition: all 0.3s ease-in-out 0.2s;
          opacity: 0;
        }

        #{$parent}-car {
          transition: opacity 0.4s ease-in-out 0.5s;
          opacity: 0;
        }

        &:before {
          transition: opacity 0.3s ease-in 0.3s;
        }
      }
    }

    img {
      max-width: 100%;
      min-width: 600px;
      transform: translateX(-50%);
      margin-left: 40%;

      @media #{$media-sm-up} {
        max-width: 85%;
        transform: none;
        margin-left: 0;
        margin-top: -40px;
      }

      @media #{$media-md-up} {
        min-width: 800px;
        margin-top: 0;
        max-width: 1300px;
      }

      @media #{$media-lg-xl} {
        max-width: 2000px;
      }
    }
  }

  /* Slide Item Img
  -------------------------------------------------------------- */
  &__bckg {
    $parent: &;
    position: absolute;
    right: 15%;
    bottom: 35%;
    width: 250px;
    height: calc(var(--bckg-height) / 2.5);
    z-index: -1;

    @media #{$media-xs-small} {
      right: 10%;
      bottom: 30%;
    }

    @media #{$media-sm-up} {
      width: 300px;
      height: calc(var(--bckg-height) / 1.8);
      bottom: 40%;
      right: 0;
    }

    @media #{$media-md-up} {
      width: 400px;
      height: calc(var(--bckg-height) / 1.5);
      right: -2%;
    }

    @media #{$media-lg} {
      bottom: 55%;
    }

    @media #{$media-lg-xl} {
      height: var(--bckg-height);
      width: 570px;
      bottom: 56%;
      right: 2%;
    }

    &:before, &:after {
      position: absolute;
      content: '';
      transition: all 0.6s ease-in-out 0.3s;
    }

    &:after {
      width: calc(var(--bckg-height) * 2);
      height: calc(var(--bckg-height) * 1.5);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
      background: radial-gradient(ellipse at center, var(--bckg-color) 25%, transparent 65%);

      @media #{$media-lg-xl} {
        width: calc(var(--bckg-height) * 3.5);
        height: calc(var(--bckg-height) * 2.2);
      }
    }

    &:before {
      width: calc(var(--bckg-height) * 3.5);
      height: var(--bckg-height);
      top: 100%;
      left: -80%;
      opacity: var(--shadow-opacity);
      background: radial-gradient(ellipse at center, var(--bckg-color) 10%, transparent 65%);

      @media #{$media-lg-xl} {
        width: calc(var(--bckg-height) * 4.5);
        height: var(--bckg-height);
        left: -80%;
      }
    }

    &-fill {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.8;
      background: var(--bckg-color);
      transition: all 0.5s ease-in 0.3s, transform 0.6s ease-in-out;
    }

    &--enter {
      #{$parent}-fill {
        height: 0;
        top: 0;
        bottom: 100%;
        opacity: 0.3;
        transform: translateY(-20px) scale(1.1);
        transition: all 0.5s ease-in 0.4s, transform 0.6s ease-in-out 0.1s;
      }

      &:before, &:after {
        opacity: 0;
      }

      .animation-back & {
        #{$parent}-fill {
          bottom: 0;
          top: 100%;
          transform: translateY(10px) scale(0.9);
        }
      }
    }

    &--exit {
      #{$parent}-fill {
        transition: all 0.5s ease-in 0.2s;
        height: 0;
        top: 100%;
        bottom: 0;
        opacity: 0.2;
        transform: translateY(10px) scale(0.9);
      }

      &:before {
        transition: all 0.4s ease-in-out 0.2s;
      }

      &:before, &:after {
        opacity: 0;
      }

      .animation-back & {
        #{$parent}-fill {
          top: 0;
          bottom: 100%;
          transform: translateY(-20px) scale(1.1);
        }
      }
    }
  }

  /* Slide Button
  -------------------------------------------------------------- */
  &__button {
    position: relative;
    height: 50px;
    margin-top: 25px;

    @media #{$media-sm-up} {
      margin-top: 50px;
    }

    .button {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.4s ease-in-out;

      @media #{$media-sm-up} {
        left: 0;
        transform: none;
      }

      &:after {
        transition: opacity 0.5s;
      }

      &--enter {
        border: 1px solid transparent;

        &:after {
          opacity: 0.2;
        }
      }

      &--exit {
        border: 1px solid transparent;

        &:after {
          opacity: 0.2;
        }
      }
    }
  }

  /* Slide Params
  -------------------------------------------------------------- */
  &__params {
    margin: -50px 0 30px;

    @media #{$media-sm-up} {
      margin: 130px 0 30px;
    }

    @media #{$media-md-up} {
      margin: 170px 0 20px;
    }

    @media #{$media-lg-xl} {
      margin: 200px 0 100px;
    }

    &-list {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 100%;

      @media #{$media-lg} {
        padding-left: 10%; //to center - amount of width of right slider nav
      }
    }

    &-item {
      text-align: center;
      width: 190px;
    }

    &-value {
      font-size: 3.1rem;

      @media #{$media-sm-up} {
        font-size: 4.8rem;
      }
    }

    &-plus {
      display: inline-block;
      vertical-align: top;
      font-size: 2rem;

      @media #{$media-sm-up} {
        font-size: 3rem;
      }
    }

    &-units {
      margin-left: 5px;
      font-family: $headers-family;
      letter-spacing: 0.9px;
    }

    &-name {
      margin-top: -10px;
      font-size: 1.4rem;
    }
  }
}
