/* Colors
-------------------------------------------------------------- */
/* Typography
-------------------------------------------------------------- */
/* Borders
-------------------------------------------------------------- */
/* Animations
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Media queries
-------------------------------------------------------------- */
/* Slide Item
-------------------------------------------------------------- */
.tesla-slide {
  position: relative;
  margin-top: 50px;
  width: 100%;
  order: 1;
  /* Slide Item Description
  -------------------------------------------------------------- */
  /* Slide Item Img
  -------------------------------------------------------------- */
  /* Slide Item Img
  -------------------------------------------------------------- */
  /* Slide Button
  -------------------------------------------------------------- */
  /* Slide Params
  -------------------------------------------------------------- */ }
  @media only screen and (min-width: 1200px) {
    .tesla-slide {
      margin-top: 0;
      width: calc(100% - 150px); } }
  .tesla-slide__desc {
    text-align: center; }
    @media only screen and (min-width: 1200px) {
      .tesla-slide__desc {
        text-align: left; } }
    @media only screen and (min-width: 1200px) {
      .tesla-slide__desc p {
        max-width: 420px; } }
  @media only screen and (max-width: 1199px) {
    .tesla-slide__img {
      width: 100%;
      transform: none; } }
  @media only screen and (min-width: 1200px) {
    .tesla-slide__img {
      position: absolute;
      margin-top: 0;
      top: -40%;
      right: -25%;
      z-index: -1; } }
  @media only screen and (min-width: 1800px) {
    .tesla-slide__img {
      top: -55%;
      right: -17%; } }
  @media only screen and (max-width: 767px) {
    .tesla-slide__img img {
      min-width: 800px;
      margin-top: -50px; } }
  @media only screen and (max-width: 1199px) {
    .tesla-slide__img img {
      margin-top: -140px;
      min-width: 800px;
      max-width: 100%; } }
  @media only screen and (min-width: 1200px) {
    .tesla-slide__img img {
      max-width: 1300px; } }
  @media only screen and (min-width: 1800px) {
    .tesla-slide__img img {
      max-width: 2000px; } }
  .tesla-slide__bckg {
    --bckg-color: red;
    --bckg-height: 200px;
    --shadow-opacity: 0.5;
    position: absolute;
    right: 10%;
    bottom: 40%;
    width: 200px;
    height: calc(var(--bckg-height) / 2);
    background: var(--bckg-color);
    z-index: -1; }
    @media only screen and (min-width: 992px) {
      .tesla-slide__bckg {
        width: 300px;
        height: calc(var(--bckg-height) / 1.5); } }
    @media only screen and (min-width: 1200px) {
      .tesla-slide__bckg {
        width: 400px;
        height: var(--bckg-height);
        bottom: 55%;
        right: -2%; } }
    @media only screen and (min-width: 1800px) {
      .tesla-slide__bckg {
        width: 450px;
        bottom: 65%;
        right: 2%; } }
    .tesla-slide__bckg:before, .tesla-slide__bckg:after {
      position: absolute;
      content: ''; }
    .tesla-slide__bckg:after {
      width: 200%;
      height: 200%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
      background: radial-gradient(ellipse at center, var(--bckg-color) 25%, transparent 65%); }
    .tesla-slide__bckg:before {
      width: calc(350% - var(--bckg-height));
      height: calc(250% - var(--bckg-height));
      top: 100%;
      left: -80%;
      opacity: var(--shadow-opacity);
      background: radial-gradient(ellipse at center, var(--bckg-color) 10%, transparent 65%); }
  .tesla-slide__button {
    margin-top: 40px; }
  .tesla-slide__params {
    margin: -120px 0 30px; }
    @media only screen and (min-width: 1200px) {
      .tesla-slide__params {
        margin: 180px 0 30px; } }
    @media only screen and (min-width: 1800px) {
      .tesla-slide__params {
        margin: 200px 0 100px; } }
    .tesla-slide__params-list {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 100%; }
      @media only screen and (min-width: 1200px) {
        .tesla-slide__params-list {
          padding-left: 10%; } }
    .tesla-slide__params-item {
      text-align: center;
      width: 190px; }
    .tesla-slide__params-value {
      font-size: 4.8rem; }
      .tesla-slide__params-value span {
        display: inline-block;
        vertical-align: top;
        font-size: 3rem; }
    .tesla-slide__params-units {
      margin-left: 5px;
      font-family: "BebasNeue", "Helvetica", "Arial", sans-serif;
      letter-spacing: 0.9px; }
    .tesla-slide__params-name {
      margin-top: -10px;
      font-size: 1.4rem; }
