/* Colors
-------------------------------------------------------------- */
/* Typography
-------------------------------------------------------------- */
/* Borders
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Media queries
-------------------------------------------------------------- */
/* Slide Item Aside
-------------------------------------------------------------- */
.tesla-slide-aside {
  text-align: left;
  /* Slide Item Whole name
  -------------------------------------------------------------- */
  /* Slide Item Name
  -------------------------------------------------------------- */
  /* Slide Item Description
  -------------------------------------------------------------- */
  /* Slide Button
  -------------------------------------------------------------- */ }
  @media only screen and (max-width: 767px) {
    .tesla-slide-aside {
      padding-left: 20px; } }
  @media only screen and (max-width: 480px) {
    .tesla-slide-aside {
      padding-left: 10px; } }
  .tesla-slide-aside__wholename {
    height: 55px; }
    @media only screen and (min-width: 768px) {
      .tesla-slide-aside__wholename {
        height: 75px; } }
    .tesla-slide-aside__wholename > span {
      height: 55px;
      vertical-align: top; }
      @media only screen and (min-width: 768px) {
        .tesla-slide-aside__wholename > span {
          height: 75px; } }
  .tesla-slide-aside__name {
    position: relative;
    display: inline-block;
    width: 40%;
    overflow: hidden; }
    .tesla-slide-aside__name-part {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      display: block;
      margin-left: 15px;
      transition: top 0.5s ease-out 0.1s, opacity 0.4s linear; }
      .tesla-slide-aside__name-part--enter {
        left: 0;
        top: 100%;
        opacity: 0; }
        .animation-back .tesla-slide-aside__name-part--enter {
          top: -100%; }
      .tesla-slide-aside__name-part--exit {
        left: 0;
        top: -100%;
        opacity: 0;
        transition: top 0.5s ease-out 0.4s, opacity 0.4s linear 0.4s; }
        .animation-back .tesla-slide-aside__name-part--exit {
          top: 100%; }
  .tesla-slide-aside__desc {
    position: relative;
    margin: 10px 0 0;
    max-width: 420px;
    height: 5rem;
    overflow: hidden; }
    @media only screen and (min-width: 768px) {
      .tesla-slide-aside__desc {
        margin-top: 40px; } }
    .tesla-slide-aside__desc-text {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      bottom: 0;
      margin: 0;
      line-height: 2.5rem;
      opacity: 1;
      transition: top 0.4s ease-out 0.2s, bottom 0.4s ease-out 0.2s, opacity 0.4s ease-out 0.3s, line-height 0.3s ease-out 0.5s; }
      .tesla-slide-aside__desc-text--enter {
        left: 0;
        top: 100%;
        bottom: 0;
        opacity: 0;
        line-height: 4rem; }
        .animation-back .tesla-slide-aside__desc-text--enter {
          top: -100%;
          bottom: auto;
          line-height: 3rem; }
      .tesla-slide-aside__desc-text--exit {
        transition: bottom 0.5s ease-out 0.3s, top 0.5s ease-out 0.3s, opacity 0.4s ease-out 0.3s, line-height 0.3s ease-out 0.2s;
        left: 0;
        top: auto;
        bottom: 100%;
        opacity: 0;
        line-height: 4rem; }
        .animation-back .tesla-slide-aside__desc-text--exit {
          top: 100%;
          bottom: auto; }
  .tesla-slide-aside__button {
    position: relative;
    height: 50px;
    margin-top: 25px; }
    @media only screen and (min-width: 768px) {
      .tesla-slide-aside__button {
        margin-top: 50px; } }
