/* Colors
-------------------------------------------------------------- */
/* Typography
-------------------------------------------------------------- */
/* Borders
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Media queries
-------------------------------------------------------------- */
/* Slider Navigation
-------------------------------------------------------------- */
.tesla-slider-navigation {
  /* Slider Navigation List
  -------------------------------------------------------------- */
  /* Slider Navigation List item
  -------------------------------------------------------------- */ }
  @media only screen and (min-width: 1200px) {
    .tesla-slider-navigation {
      order: 2;
      width: 150px; } }
  .tesla-slider-navigation__list {
    display: flex;
    margin: 0;
    justify-content: space-around;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .tesla-slider-navigation__list {
        margin: 5px; } }
    @media only screen and (min-width: 1200px) {
      .tesla-slider-navigation__list {
        display: block;
        order: 2;
        text-align: right; } }
  .tesla-slider-navigation__item {
    display: inline-block;
    padding: 0 5px;
    text-transform: uppercase;
    line-height: 1;
    font-size: 1.2rem; }
    @media only screen and (min-width: 768px) {
      .tesla-slider-navigation__item {
        font-size: 1.4rem; } }
    @media only screen and (min-width: 1200px) {
      .tesla-slider-navigation__item {
        display: block;
        margin-top: 90px; } }
    @media only screen and (min-width: 1800px) {
      .tesla-slider-navigation__item {
        margin-top: 95px; } }
    .tesla-slider-navigation__item:first-of-type {
      margin-top: 0; }
  .tesla-slider-navigation__link--active {
    font-size: 1.2rem;
    transition: font-size 0.3s linear , color 0.2s linear 0.8s; }
    @media only screen and (min-width: 768px) {
      .tesla-slider-navigation__link--active {
        font-size: 1.4rem; } }
    @media only screen and (min-width: 1200px) {
      .tesla-slider-navigation__link--active {
        font-size: 1.8rem; } }
