@import './../helpers/variables';
@import './../helpers/mixins';

/* Balloon
-------------------------------------------------------------- */
.balloon {
  $parent: &;
  position: absolute;
  top: 50%;
  right: 5%;
  height: 80%;
  width: 45%;
  opacity: 0;
  transform: translateY(-50%);

  &--animation-in {
    animation: $duration $cubic-brazier $duration-normal 1 normal forwards fadeFromLeftCenter;

    #{$parent}__bckg-img {
      animation: $duration $cubic-brazier $duration-normal 1 normal forwards fadeFromLeft;
    }
  }

  &--animation-out {
    opacity: 1;

    #{$parent}__bckg-img {
      opacity: 1;
    }
  }

  &--animation-reset {
    opacity: 1;

    #{$parent}__bckg-img {
      opacity: 1;
      animation: $duration ease-in $delay-end 1 normal forwards fadeOutToLeft;
    }
  }

  img{
    max-width: 100%;
    max-height: 100%;
  }

  /* Balloon background image
  -------------------------------------------------------------- */
  &__bckg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    @include background-2x('./../../../assets/images/stars', 'png', 100%, 100%, center bottom, no-repeat);
  }

  /* Balloon images
  -------------------------------------------------------------- */
  &__img {

    &-container {
      opacity: 0;

      &--animation-in {
        animation: $duration-long ease-in $images-delay normal forwards fadeFromTop
      }

      &--animation-out {
        opacity: 1;
      }

      &--animation-reset {
        opacity: 0;
      }
    }

    /* Balloon image
    -------------------------------------------------------------- */
    &--balloon {
      position: relative;
      left: 1.5%;
      z-index: 3;
      width: 100%;
    }

    /* State of balloon
    -------------------------------------------------------------- */
    &--state {
      position: absolute;
      top: 0;
      left: 0;
      height: 71%;

      &-normal {
        z-index: 1;

        &--animation-in {
          opacity: 1;
        }
      }

      &-out {
        opacity: 0;
        z-index: 2;

        &--animation-out {
          animation: show $duration-fast ease-in ($fire3-delay + $duration-fast) 1 normal forwards;
        }
      }
    }
  }

  &__clouds {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    &--animation-in {
      animation: $duration-long ease-in $images-delay normal forwards show;
    }

    &--animation-out {
      opacity: 1;
    }

    &--animation-reset {
      opacity: 1;
      animation: $duration ease-in $delay-end 1 normal forwards smoothfadeOutToTop;
    }
  }

  /* Wrapper of balloon image and fire images
  -------------------------------------------------------------- */
  &__wrapper {
    position: absolute;
    width: 370px;
    height: auto;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; //Before clouds

    @media #{$media-lg}{
      width: 430px;
    }

    @media #{$media-lg-xl}{
      width: 530px;
    }

    &--animation-out {
      animation: $balloon-out-duration $cubic-ease-in $balloon-out-delay 1 normal forwards fadeOutToTop;
    }

    &-pulse {
      width: 100%;
      height: 100%;
      animation: $duration-long linear ($duration-long + $images-delay + 1s) infinite alternate pulse; //delay calculated on balloon img show delay + ballon img animation duration + 1s

      &--animation-out {
        animation-play-state: paused;
      }
    }
  }

  /* Fire inside balloon images
  -------------------------------------------------------------- */
  &__balloon-fire {
    position: absolute;
    top: 0;
    width: 100%;
    height: 71%;
    z-index: 3;

    &--animation-out {
      img{
        &:nth-child(1){
          animation: fireInsideBig ($duration + 0.3s) ease-in-out ($fire3-delay + $duration-fast*1.5) 1 normal forwards;
        }

        &:nth-child(2){
          animation: fireInsideSmall $duration ease-in-out ($fire3-delay + $duration-fast*1.5) 1 normal forwards;
        }
      }
    }

    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 0;
      width: auto;
      transform: translateX(-50%);
      opacity: 0;

      &:nth-child(1){
        transform: scaleX(-1) translateX(50%);
      }
    }
  }

  /* Fire images
  -------------------------------------------------------------- */
  &__fire {
    position: absolute;
    left: 50%;
    bottom: 22.5%;
    width: 10%;
    height: 7%;
    transform: translateX(-50%);
    z-index: 9;
  }
}
