/* Colors
-------------------------------------------------------------- */
/* Typography
-------------------------------------------------------------- */
/* Borders
-------------------------------------------------------------- */
/* Animations
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Media queries
-------------------------------------------------------------- */
/* Gradient
-------------------------------------------------------------- */
/* Retina
-------------------------------------------------------------- */
/* Balloon
-------------------------------------------------------------- */
.balloon {
  position: absolute;
  top: 50%;
  right: 5%;
  height: 80%;
  width: 45%;
  opacity: 0;
  transform: translateY(-50%);
  /* Balloon background image
  -------------------------------------------------------------- */
  /* Balloon images
  -------------------------------------------------------------- */
  /* Wrapper of balloon image and fire images
  -------------------------------------------------------------- */
  /* Fire inside balloon images
  -------------------------------------------------------------- */
  /* Fire images
  -------------------------------------------------------------- */ }
  .balloon--animation-in {
    animation: 0.5s cubic-bezier(0.5, 0.25, 0.31, 0.955) 1s 1 normal forwards fadeFromLeftCenter; }
    .balloon--animation-in .balloon__bckg-img {
      animation: 0.5s cubic-bezier(0.5, 0.25, 0.31, 0.955) 1s 1 normal forwards fadeFromLeft; }
  .balloon--animation-out {
    opacity: 1; }
    .balloon--animation-out .balloon__bckg-img {
      opacity: 1; }
  .balloon--animation-reset {
    opacity: 1; }
    .balloon--animation-reset .balloon__bckg-img {
      opacity: 1;
      animation: 0.5s ease-in 3.9s 1 normal forwards fadeOutToLeft; }
  .balloon img {
    max-width: 100%;
    max-height: 100%; }
  .balloon__bckg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-image: url("./../../../assets/images/stars.png");
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
      .balloon__bckg-img {
        background-image: url("./../../../assets/images/stars@2x.png"); } }
  .balloon__img {
    /* Balloon image
    -------------------------------------------------------------- */
    /* State of balloon
    -------------------------------------------------------------- */ }
    .balloon__img-container {
      opacity: 0; }
      .balloon__img-container--animation-in {
        animation: 1.5s ease-in 2.2s normal forwards fadeFromTop; }
      .balloon__img-container--animation-out {
        opacity: 1; }
      .balloon__img-container--animation-reset {
        opacity: 0; }
    .balloon__img--balloon {
      z-index: 2;
      width: 100%; }
    .balloon__img--state {
      position: absolute;
      top: 0;
      left: 0;
      height: 71%; }
      .balloon__img--state-normal {
        z-index: 1; }
        .balloon__img--state-normal--animation-in {
          opacity: 1; }
      .balloon__img--state-out {
        opacity: 0;
        z-index: 2; }
        .balloon__img--state-out--animation-out {
          animation: show 0.3s ease-in 1.3s 1 normal forwards; }
  .balloon__clouds {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .balloon__clouds--animation-in {
      animation: 1.5s ease-in 2.2s normal forwards show; }
    .balloon__clouds--animation-out {
      opacity: 1; }
    .balloon__clouds--animation-reset {
      opacity: 1;
      animation: 0.5s ease-in 3.9s 1 normal forwards smoothfadeOutToTop; }
  .balloon__wrapper {
    position: absolute;
    width: 370px;
    height: auto;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; }
    @media only screen and (min-width: 1200px) {
      .balloon__wrapper {
        width: 430px; } }
    @media only screen and (min-width: 1800px) {
      .balloon__wrapper {
        width: 530px; } }
    .balloon__wrapper--animation-out {
      animation: 4.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2.3s 1 normal forwards fadeOutToTop; }
    .balloon__wrapper-pulse {
      width: 100%;
      height: 100%;
      animation: 1.5s linear 4.7s infinite alternate pulse; }
      .balloon__wrapper-pulse--animation-out {
        animation-play-state: paused; }
  .balloon__balloon-fire {
    position: absolute;
    top: 0;
    width: 100%;
    height: 71%;
    z-index: 3; }
    .balloon__balloon-fire--animation-out img:nth-child(1) {
      animation: fireInsideBig 0.7s ease-in 0.8s 1 normal forwards; }
    .balloon__balloon-fire--animation-out img:nth-child(2) {
      animation: fireInsideSmall 0.5s ease-in 1.1s 1 normal forwards; }
    .balloon__balloon-fire img {
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 0;
      width: auto;
      transform: translateX(-50%);
      opacity: 0; }
      .balloon__balloon-fire img:nth-child(1) {
        transform: scaleX(-1) translateX(50%); }
  .balloon__fire {
    position: absolute;
    left: 50%;
    bottom: 23%;
    width: 10%;
    height: 7%;
    transform: translateX(-50%);
    z-index: 9; }
